.menu-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 8px;
  width: 100%;
  gap: 4px;

  &::before,
  &::after {
    content: '';
    width: 18px;
    height: 2px;
    background-color: $white;
  }
}

.button {
  height: 50px;
  width: 280px;
  background: var(--bg-button-page);
  border-radius: var(--button-page-radius);

  @include on-tablet {
    width: 264px;
  }
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: $white;
  border-radius: $circle;

  &::after,
  &::before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 7px;
    background-color: $grey;
  }

  &::after {
    transform-origin: left bottom;
    transform: translateY(-50%) rotate(45deg);
  }
  &::before {
    transform-origin: left top;
    transform: translateY(50%) rotate(-45deg);
  }
}

.no-wrap-text {
  white-space: nowrap;
}

.wrapper {
  margin: 0 auto;
  max-width: $content-max-width;
}

.grid {
  @include page-grid;
}
