.menu {
  z-index: 3;
  width: 100%;
  position: fixed;
  height: 100vh;
  backdrop-filter: blur(10px);
  display: none;

  &__button {
    gap: 0;

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
    &::before {
      transform: translateY(50%) rotate(-45deg);
    }

    &--close {
      position: absolute;
      padding: 20px;
      right: 0;
      top: 12px;
    }
  }

  &--active {
    display: block;

    .nav-menu {
      opacity: 1;
    }
  }

  &-bg--active::before {
    transition: bottom $my-duration;
    bottom: -100vh;
    opacity: 0.9;
  }

  @include on-desktop-s {
    display: none;
  }

  &__socials {
    display: flex;
    width: 100%;
    max-width: 280px;
    gap: 24px;

    @include on-tablet {
      gap: 40px;
    }

    & li {
      align-content: center;
      justify-items: center;
    }
  }

  &__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
  }
}
