.nav {
  display: none;

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    & > li {
      height: 100%;
    }
  }

  &__link {
    align-items: center;
    height: 100%;
  }

  &-header {
    height: 100%;

    @include on-desktop-s {
      display: flex;
      align-items: center;
    }

    &__list {
      gap: 48px;
    }
  }

  &-footer {
    height: 100%;
    display: flex;

    &__list {
      flex-direction: column;
      align-items: start;
      gap: 24px;

      @include on-tablet {
        flex-direction: row;
        gap: 40px;
      }

      @include on-tablet {
        gap: 0;
        justify-content: space-between;
        max-width: 541px;
      }

      @include on-desktop-s {
        gap: 64px;
        max-width: 100%;
      }
    }
  }
}
