@import "blocks/components";
@import "blocks/page";
@import "blocks/body";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/menu";
@import "blocks/hero";
@import "blocks/main";
@import "blocks/description";
@import "blocks/expertise";
@import "blocks/services";
@import "blocks/testimonials";
@import "blocks/division";
@import "blocks/footer";
@import "blocks/contacts";
